.profile{
    
    display: flex;
    margin-left: 135px;
    width:80px;
    margin-top: 10%;
    border-radius: 50%;

}
.body{
    overflow: hidden;
    background-color: hsl(0, 0%, 8%);
}
.block{
    font-family: 'Inter',sans-serif;
    background-color: hsl(0, 0%, 12%);
    max-width: 350px;
    min-width: 350px;
    min-height: 550px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     /* center vertically */
    
    border-radius: 10px;
    
}
.body h2{
    color: hsl(0, 0%, 100%);
    font-size:x-large;
    display: flex;
    justify-content: center;
    

}
.body h4{
    color: hsl(75, 94%, 57%);
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}
.body h3{
    color: hsl(0, 0%, 69%);
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-weight: 400;
}
.option1{
    background-color:hsl(0, 0%, 20%);
    display: flex;
    justify-content: center;
    margin: 5% 10%;
    padding:10px;
    border-radius: 10px;
    font-weight: 600;
    color: lightgray;
    font-size: small;
    transition: background-color 0.3s ease;

}
.option1:hover{
    background-color: hsl(75, 94%, 57%);
    }
